/* Form Style */

form ul li {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
}

form ul li label {
	color: #666;
	font-weight: bold;
	font-size: 12px;
}

.entry {
    color: #666;
	font-weight: bold;
	font-size: 12px;
} 
.entry1 {
    color: #999;
	font-weight: bold;
	font-size: 20px;
	font-family: Arial Black;
}   

label.note {
	color: #444;
	font-weight: normal;
	font-size: 10px;
}

label.choice {
	margin: 0 15px 0 0;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}

input.text,
textarea {
	margin: 5px 0 5px 0;
	padding: 3px 5px;
	border: 1px solid #d2d2d2;
	font-size: 12px;
}

input.radio,
input.checkbox,
input.file {
	margin: 5px 5px 0 0;
}

input.button {
	padding: 0 5px 3px 5px;
	font-size: 12px;
}

select.drop {
	font-size: 12px;
	margin: 5px 5px 0 0;
	padding: 3px 5px;
	border: 1px solid #d2d2d2;
}

input.short { width: 140px;}
input.medium { width: 45%;}
input.long { width:70%;}
input.max { width: 95%;}

select.drop.short { width: 152px;}

.success {
	color: #008000;
}

.error, .req {
	color: #d8122d;
	font-weight: normal;
}

.ajax__calendar_container td
{
	padding: 0 0px 0px 0px; 
}