A:Link {	           
	font-size: 10px;         
	font-family: Arial;         
	color: #004080; 
	text-align : center;	   
}
A:Hover {		        
	font-size: 10px;         
	font-family: Arial;         
	color: #cc0000;         
	text-decoration: none;		
}
A:Visited {		          
	font-size: 10px;         
	font-family: Arial;         
	text-decoration: underline;         
	color: #004080;		  
}
h1#logo {
    background: url(../images/logo.gif) no-repeat left center;
    text-indent: -9999px;
    float: left;
    height: 166px;
    width: 308px;
    background-color: Blue;
}
.NLabel{
    overflow: hidden;	
    white-space: nowrap;
    font-weight: bold;
}
.IssuesTable        
{
    border: 1px;
    font-family: Arial; 
    font-size: 8pt; 
    color: #606060; 
    border-style: solid;
    border-color: #D3D3D3;
     
    padding-left: 5px;  
    padding-right: 5px; 
    padding-top: 1px;
    padding-bottom: 1px; 
}
.ReportActRow 
{
    cursor: pointer;
}
.ReportTitle{
    font-size: 5mm; 	                    
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 6mm;
    padding-bottom: 3px;
}
.ReportSubBox 
{
    border-width: 1px;
    padding: 1px 10px 1px 10px;
    border-style: solid;
}
.ReportSubBoxLable 
{
    font-weight: bold;
}
.ReportTotals
{
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    
    border-top-style: solid;
    border-bottom-style: double;
}
.ReportBLC 
{
    border-width: 0;
}
.ReportBLCBold 
{
    font-weight: bold;
    border-width: 0;
}
.ReportBLCNW 
{
    border-width: 0;
    white-space: nowrap; 
}
.ReportBOC 
{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    
    border-bottom-style: solid;
}
.ReportTOC 
{
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    
    border-top-style: solid;
}
.ReportSR 
{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    
    height: 1px; 
}
.ReportLC 
{
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    padding-left: 5px; 
    padding-right: 5px; 
}
.ReportMC 
{
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-style: solid;
    padding-left: 5px; 
    padding-right: 5px; 
}
.ReportRC 
{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-style: solid;
    padding-left: 5px; 
    padding-right: 5px; 
}
.rtable {        
    width: 100%;                        
    font-family: Arial; 	                    
    font-size: 8pt; 	                    
    color: Gray;	                    
    border-width: 1px; 	                    
    border-style: solid;	                    
    border-color: #D3D3D3;                             
    border-right-style: solid;
}
.rptdr          
{
    text-align: right;
    padding-left: 2px;
    padding-right: 2px;
    
    border-top-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    
    border-left-style: solid;				  
    border-bottom-style: solid;				  

    border-left-color: #E3E3E3;
    border-bottom-color: #E3E3E3;
    
    white-space: nowrap; 
}
.rptdub         
{
    text-align: right;
    padding-left: 2px;
    padding-right: 2px;
    
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    
    border-left-style: solid;				  
    border-bottom-style: solid;				  

    border-left-color: #E3E3E3;
    border-bottom-color: #E3E3E3;
    
    white-space: nowrap; 
}
.rptfw 
{
    text-align: justify;
    padding-left: 2px;
    padding-right: 2px;
    
    border-top-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    
    border-left-style: solid;				  
    border-bottom-style: solid;				  

    border-left-color: #E3E3E3;
    border-bottom-color: #E3E3E3;
}   
.rptd1          
{
    text-align: justify;
    padding-left: 2px;
    padding-right: 2px;
    
    border-top-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    
    border-left-style: solid;				  
    border-bottom-style: solid;				  

    border-left-color: #E3E3E3;
    border-bottom-color: #E3E3E3;
    
    white-space: nowrap; 
}
.rptd_resolution        
{
    text-align: justify;
    padding-left: 2px;
    padding-right: 2px;
    
    border-top-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    
    border-left-style: solid;				  
    border-bottom-style: solid;				  

    border-left-color: #E3E3E3;
    border-bottom-color: #E3E3E3;
}
.rptdsubhead          
{
    text-align: justify;
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    
    border-top-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    
    border-left-style: solid;				  
    border-bottom-style: solid;				  

    border-left-color: #E3E3E3;
    border-bottom-color: #E3E3E3;
    
    background-color: #E3E3E3; 
    color: #555555;
}
.money {         
    text-align: right;
    padding-left: 2px;
    padding-right: 2px;
    
    border-top-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    
    border-left-style: solid;				  
    border-bottom-style: solid;				  

    border-left-color: #E3E3E3;
    border-bottom-color: #E3E3E3;
    
}
.rphdrow{				  
    color: #555555;
    border-right-style: solid;
    border-width: 1; 	                    
    border-style: solid;	                
    background-color: #C3C3C3;                    
    border-color: #E3E3E3;                            
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap; 
}
.contentpanel        
{
    border: 1px;
    font-family: Arial; 
    font-size: 8pt; 
    color: #606060; 
    border-style: solid;
    border-color: #E3E3E3; 
    padding-left: 5px;  
    padding-right: 5px; 
    padding-top: 5px;
    padding-right: 5px;  
    width: 305px;
}
.menucell
{
   	background: #FAFAFA;
    border: 0px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #D3D3D3; 
    padding-left: 3mm;  
    padding-right: 1mm; 
    padding-top: 10px;
    padding-right: 10px;    
    white-space: nowrap;
    
    text-align: right;
    vertical-align: top;
}
.menuitem 
{
    border: 0px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;        
    font-size: 11px;        
    color: #004184;        
    width: 200px; 
    height: 20px;
    cursor: pointer;
}
table        { 
    font-family: Arial; 
    font-size: 8pt; 
    color: #606060; 
}
input{          
    background-color: #FFFFFF;	                
    font-family: Arial, Helvetica, sans-serif;	                
    font-size: 10px;	                
    color: #004184;	                
    width: 120px;   
    border-left-width: 1px; 
    border-top-width: 1px;   
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-style: solid;
    border-color: #AAAAAA;    
}
.inputTbl {
	color: black;
    border-width: 1px; 	                    
    border-style: solid;
    border-color: #D3D3D3;
	background-color: white;
	position: relative;
}
.Tblinput{          
    background-color: #FFFFFF;	                
    font-family: Arial, Helvetica, sans-serif;	                
    font-size: 3mm;	                
    color: #004184;	                
    width: 70mm; 
    border-left-width: 1px; 
    border-top-width: 1px;   
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-style: solid;
    border-color: #AAAAAA;
}
.Tblinput_bak{          
    border-right:1px solid #D3D3D3; 
    border-bottom:1px solid #D3D3D3; 
    background-color: #FFFFFF;	                
    font-family: Arial, Helvetica, sans-serif;	                
    font-size: 3mm;	                
    color: #004184;	                
    width: 70mm; 
    border-left-color:#D3D3D3; 
    border-left-width:0; 
    border-top-color:#D3D3D3; 
    border-top-width:0   
}

.menuitem2{
	top: 1mm;
   	background: #FAFAFA;
    border: 0px;
    border-right-width: 1px;
    border-top-style: solid;
    border-style: solid;
    border-color: #D3D3D3; 
    padding-left: 1mm;  
    padding-right: 1mm; 
    height: 4mm;
    overflow: hidden;	
    white-space: nowrap;
    cursor: pointer;
    width: 150px;
    text-align: center;
    vertical-align: top;
}
.menuitemdisabled 
{
    background-color: #D5D5D5;
    font-family: Arial, Helvetica, sans-serif;        
    font-size: 10px;        
    color: #004184;        
    width: 110px; 
 }
.trmenuhead
{
    background-color: #dae3ed;	        
    font-family: CCLarge;	        
    font-size: 10px;	        
    text-align: center;	        
    font-weight: bold;
}
.menutable
{
    background-color: #FFFFFF;	        
    font-family: Arial; 	        
    font-size: 8pt; 	        
    color: Gray;                
    border: 0;
 }
.dailymenutable
{
    background-color: #FFFFFF;	        
    font-family: Arial; 	        
    font-size: 8pt; 	        
    color: Gray;                
    border: 0;
}
.maintenmenutable
{
    background-color: #FFFFFF;	        
    font-family: Arial; 	        
    font-size: 8pt; 	        
    color: Gray;                
    border: 0;
}
.contenttable        
{
    border: 1px;
    font-family: Arial; 
    font-size: 8pt; 
    color: #606060; 
    border-style: solid;
    border-color: #D3D3D3; 
    padding-left: 5px;  
    padding-right: 5px; 
    padding-top: 5px;
    padding-right: 5px; 
}

.check{         
    width: 4mm;
    height: 4mm;    
}
.ReportContainer {
	font-family: Arial; 
	color: black;	 
    font-size: 3mm; 
	page-break-after: always;
	page-break-inside: avoid;
    border-width: 1px; 	                    
    border-style: solid;	                    
    border-color: #D3D3D3;
    width: 190mm;
	height: 270mm;
	overflow: hidden; 
	position: relative;
}

.LabelCell{
    width: 138px; 
    overflow: hidden;	
    white-space: nowrap;
    font-weight: bold;
}

.TitleTbl{
    font-size: 5mm; 	                    
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 6mm;
}
.ReportPage{
    font-size: 4mm; 	                    
    text-align: center;
    height: 6mm;
    overflow: hidden; 
    position: absolute;
}
.ReportDesc{
    font-size: 3mm; 	                    
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 4mm;
    overflow: hidden;
    position: absolute;
}

.ReportTbl {
	color: black;
    border-width: 0px; 	                    
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;	                    
    border-color: #D3D3D3;
    width: 100%;
	position: absolute;
}
.SubReportTbl {
	color: black;
    border-width: 0px; 	                    
    border-style: solid;
    border-top-width: 1px;	                    
    border-color: #D3D3D3;
	background-color: white;
    width: 100%;
}
.ReportTitleRowTbl{
	font-size: 3mm;				  
    color: #EEEEEE;
    font-weight: bold;
    text-align: center;
    border-width: 1px; 	                    
    border-style: solid;	                
    border-color: #829FDB;                            
    background-color: #A2BFDB;                    
    height: 5mm;
    width: 100%;
}
.DivCell{
    overflow: hidden;
    width: 100%; 
    height: 100%;
}
.ReportDataRowTblDull{
	font-size: 3mm;				  
    text-align: center;
    background-color: #FFFFFF;
    height: 4mm;
    width: 100%;
}
.ReportDataRowTblHi{
	font-size: 3mm;				  
    text-align: center;
    background-color: #FAFAFA;
    height: 4mm;
    width: 100%;
}
.ReportCellTbl{
	top: 1mm;
    border: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #D3D3D3;  
    height: 4mm;
    overflow: hidden;	
    white-space: nowrap;
}
.DataCell{
	top: 1mm;
    border: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #D3D3D3;
    padding-left: 1mm;  
    padding-right: 1mm;  
    height: 4mm;
    overflow: hidden;	
    white-space: nowrap;
}
.DataCellR{
	top: 1mm;
    border: 0px;
    text-align: right;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #D3D3D3;
    padding-left: 1mm;  
    padding-right: 1mm;  
    height: 4mm;
    overflow: hidden;	
    white-space: nowrap;
}

.DataCellL{
	top: 1mm;
    border: 0px;
    text-align: left;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #D3D3D3;
    padding-left: 1mm;  
    padding-right: 1mm;  
    height: 4mm;
    overflow: hidden;	
    white-space: nowrap;
}
.DataCellC{
	top: 1mm;
    border: 0px;
    text-align: center;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #D3D3D3;
    padding-left: 1mm;  
    padding-right: 1mm;  
    height: 4mm;
    overflow: hidden;	
    white-space: nowrap;
}
.HintDiv{
	font-family: Arial; 
	font-size: 4mm;
	left: 0;
	top: 0;
	background: #FFFFCC;
	border: 1px;
	padding: 2;
	border-style: inset;
	border-color: black;
	position: absolute;
	visibility: hidden;
}
.dull{	    
	background-color: #FFFFFF;
}
.highlight{     
	background-color: #DDDDDD;
}
.reporttitlerow{
	font-family: Arial; 	                    
    font-size: 12pt; 	                    
    color: #808080;	
    text-align: center;
    font-weight: bold;
}
.reportheadrow{				  
    color: #EEEEEE;
    border-right-style: solid;
    border-width: 1; 	                    
    border-style: solid;	                
    background-color: #A2BFDB;                    
    border-color: #829FDB;                            
    text-align: center;
}
.reportnormcol         { 
    border-right-style: solid;				 
    border-width: 1;  
}
.rwtable{        
    font-family: Arial; 	                    
    font-size: 8pt; 	                    
    color: Gray;	                    
    border-width: 2; 	                    
    border-style: solid;	                    
    border-color: #D3D3D3;                             
    border-right-style: solid;
}
.tablehead {
}
	
.caltd	{ 	
    color: #606060;					
    border-width: 0;				  	
    cursor: hand;				  	
}
.caltdt	{ 	
    color: #606060;					
    border-width: 0;				  	
    cursor: hand;
    width: 30px;
    height: 10px;
    text-align: center;				  	
}
.caltdb	{ 	
    color: #606060;					
    border-width: 0;				  	
    cursor: hand;
    width: 30px;
    height: 18px;
    text-align: center;				  	
}
.clkcaltd		 {	
    color: #FFFFFF;                                         
    border-width: 0;				  	
    cursor: hand;				  	
    font-weight: bold;
    width: 30px;
    height: 10px;
    text-align: center;				  	
}
.calInTable	 { 
    font-family: Arial; 					
    font-size: 8pt; 					
    background-color: #EEEEEE;
}				  	
.actcaltd		 {	
    color: #00EE11;                                         
    border-width: 0;				  	
    cursor: hand;				  	
    font-weight: bold;
    width: 30px;
    height: 10px;
    text-align: center;				  	
}
.calbut{			
    background-color: #F7F7F7; 	    				
    font-family: Arial, Helvetica, sans-serif;        				
    font-size: 9px;        				
    color: #004184;        				
    width: 50px;
    height: 8px; 
    border-top-width: thin;
    border-bottom-width: thin;
}   					
.caltext{          
    background-color: #F7F7F7;	                
    font-family: Arial, Helvetica, sans-serif;	                
    font-size: 10px;	                
    color: #004184;	                
    width: 70px;   
}
.repselect	{		
    background-color: #F7F7F7;	                     
    font-family: Arial, Helvetica, sans-serif;	                     
    font-size: 10px;	                     
    color: #004184;                     
    width: 173px;					
}
.rptd         { 
    border-right-style: solid;				  
    border-bottom-style: solid;				  
    border-width: 1; 				  
    text-align: right; 
}				 
.rptdr         { 
    border-right-style: solid;				  
    border-bottom-style: solid;				  
    border-width: 1; 				  
    text-align: right; 
}				 
.rptd0         { 
    border-right-style: solid;				 
    border-width: 1;  
}
.rptd1         { 
    border-right-style: solid;				  
    border-bottom-style: solid;				  
    border-width: 1;				  
    text-align: left;  
}			 
.rptdl         { 
    border-right-style: solid;				  
    border-bottom-style: solid;				  
    border-width: 1;				  
    text-align: left;  
}			 

.rpbtotalrow{				  
    color: #808080;	                    
    border-width: 1; 	                    
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #FFFFFF;                  
    background-color: #C0C0C0;                            
    text-align: right;
    font-weight: bold;
}
.rpstotalcol{				  
    color: #606060;                
    border-width: 1; 	                
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: #808080;     			      
    background-color: #DDDDDD;                           				   
    text-align: right;
}
.rpstotalcoll{				  
    color: #606060;                
    border-width: 1; 	                
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: #808080;     			      
    background-color: #DDDDDD;                           				   
    text-align: right;
}
.rpstotalcolral{				  
    color: #606060;                
    border-width: 1; 	                
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #808080;     			      
    background-color: #DDDDDD;                           				   
    text-align: left;
}
.rpstotalcolr{				  
    color: #606060;                
    border-width: 1; 	                
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #808080;     			      
    background-color: #DDDDDD;                           				   
    text-align: right;
}
.rpstotalrow{				  
    color: #606060;                
    border-width: 1; 	                
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #808080;     			      
    background-color: #DDDDDD;                           				   
    text-align: right;
}

.lineadd{       
    width: 10px;                
    height: 10px;
}
   
.qty{           
    width: 40px;    
}
.ltype{         
    width: 70px;    
}
.lserial{ 	
    width: 100px;   
}
.lpname{        
    width: 120px;   
}
.lpdesc{        
    width: 142px;   
}
.lcode{         
    width: 40px;    
}
.ltitle{        
    width: 30px;    
}
.idSelect{      
    background-color: #F7F7F7;	                    
    font-family: Arial, Helvetica, sans-serif;	                    
    font-size: 10px;	                    
    color: #004184;                    
    width: 90px; 
}
select{         
    background-color: #F7F7F7;	                    
    font-family: Arial, Helvetica, sans-serif;	                    
    font-size: 10px;	                    
    color: #004184;                    
    width: 120px;    
}
.selectbig{         
    background-color: #F7F7F7;	                    
    font-family: Arial, Helvetica, sans-serif;	                    
    font-size: 10px;	                    
    color: #004184;                    
    width: 220px;    
}

.rtd         { 
    border-right-style: solid;				 
    border-width: 1;  
}
.titleTable{    
    width: 300px;	                 
    height: 30px;                    
    font-family: Arial; 	                    
    font-size: 15pt; 	                    
    color: Gray;	                    
    border-width: 1; 	                    
    border-style: solid;	                    
    border-color: #D3D3D3;                             
    border-right-style: solid;                    
    text-align: center; 
}   
.ctable{        
    background-color: #FFFFFF;	                    
    font-family: Arial; 	                    
    font-size: 8pt; 	                    
    color: Gray;                            
    border: 0;  
}

.editNoBorder{	    
    background-color: White; 	    
    border: 0px White;
}
textarea{               
    background-color: #F7F7F7;	    
    font-family: Arial, Helvetica, sans-serif;	    
    font-size: 10px;	    
    color: #004184;
}	
.smallTArea{	
    background-color: #F7F7F7;	    
    font-family: Arial, Helvetica, sans-serif;	    
    font-size: 10px;	    
    color: #004184;	
    width: 100;	
    height: 20;
}
.normTArea{	
    background-color: #F7F7F7;	    
    font-family: Arial, Helvetica, sans-serif;	    
    font-size: 10px;	    
    color: #004184;	
    width: 200;	
    height: 100;
}
.smallerText{		
    background-color: #F7F7F7;	    		
    font-family: Arial, Helvetica, sans-serif;	    		
    font-size: 10px;	    		
    color: #004184;			
    width: 50;	
}
.smallText{		
    background-color: #F7F7F7;	    		
    font-family: Arial, Helvetica, sans-serif;	    		
    font-size: 10px;	    		
    color: #004184;			
    width: 120;	
}		
.normText{			
    background-color: #F7F7F7;	    		
    font-family: Arial, Helvetica, sans-serif;	    		
    font-size: 10px;	    		
    color: #004184;			
    width: 220;	
}		
.clsTocHeading{	        font-family: Arial;	        font-weight: bold;	        font-size: 11px;	        color: #004184; }
.insertrow   {     background-color: #cad3dd }
.trDetailHead{        background-color: #cad3dd;	        font-family: CCLarge;	        font-size: 10px;	        text-align: left;	        font-weight: bold;}
.trheadold{	        background-color: #ecf5ff;	        font-family: CCLarge;	        font-size: 10px;	        text-align: left;	        font-weight: bold;}
.trhead{	        background-color: #cbd4de;	        font-family: CCLarge;	        font-size: 10px;	        text-align: left;	        font-weight: bold;}
.scrollhead{                position: absolute;                 top: -100;	    background-color: #cad3dd;	        font-family: CCLarge;	        font-size: 10px;	        text-align: left;	        font-weight: bold;}
.sResultTb{         font-family: Arial;             font-size: 8pt;          color: #666666;	}
.specialTable{	        padding: 10px;		        border-right-width : 3px;}
.trhead01{        background-color: #ecf5ff;	        color: red;        font-style: italic;        font-weight: bold;}
