* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #666;
	text-align: left;
	background-color: #F7F7F7;
}

a { color: #0088cc; text-decoration: none;}
a:hover { text-decoration: underline;}
a img { border: none;}

p { margin: 0px 0px 20px 0px; line-height: 18px;}

#box {
	margin: 80px auto;
	padding: 25px;
	width: 400px;
	background-color: #FFF;
	border: 2px solid #ccc;
}

#box h2 {
	width: 400px;
	height: 35px;
	color: #4F7386;
	font-weight: normal;
	font-size:16px;	
}

.light {
	color: #ccc;
}
