#navigation {
	height:28px;
	padding:0;
	float:left;
	background-image: url(../images/nav.gif);
	background-repeat: no-repeat;
	width: 668px;
	margin: 132px 0 0 20px;
}
#navigation span {
display: none;
}
#navigation ul {
	padding:0;
	margin: 0;
}
#navigation li, #navigation a {
	height:28px;
	display:block;
	border: none;

}
#navigation li {
	list-style:none;
	display:inline;
	float: left;
	margin:0;
	padding:0;
}
#navigation #home-page {width: 60px;margin-right:4px;}
#navigation #waste-management-solutions {width: 221px;margin-right:4px;}
#navigation #why-choose-707 {width: 124px;margin-right:4px;}
#navigation #newsdesk {width: 103px;margin-right:4px;}
#navigation #contact {width: 132px;margin-right:4px;}

#navigation #home-page a:hover {background: url(../images/nav.gif) 0px -28px no-repeat;}
#navigation #waste-management-solutions a:hover {background: url(../images/nav.gif) -64px -28px no-repeat;}
#navigation #why-choose-707 a:hover {background: url(../images/nav.gif) -289px -28px no-repeat;}
#navigation #newsdesk a:hover {background: url(../images/nav.gif) -417px -28px no-repeat;}
#navigation #contact a:hover {background: url(../images/nav.gif) -524px -28px no-repeat;}

#navigation li a:focus, a:active {outline:0;}
