html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border-style: none;
    border-color: inherit;
    border-width: 0;
    margin: 0 0 0 0px;
    padding: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}
body {
font: 12px/1.6em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
color: #000000;
background: #fff url(../images/body-bg.gif) repeat-x;
}
p {
font-size: 13px;
line-height: 1.5em;
color: #4B4B4B;
}
em {font-style:italic;}
a {color:#006EA9;padding-bottom:1px;border-bottom:1px dotted #ccc;text-decoration:none;}
strong {
font-weight: bold;
}
#skip {
text-indent: -9999px;
display: none;
}
#container {
width: 1000px;
margin-right: auto;
margin-left: auto;
}
h1#logo {
background: url(../images/logo.gif) no-repeat left center;
text-indent: -9999px;
float: left;
height: 166px;
width: 308px;
background-color: Blue;
}
h1#logo a {
background: url(../images/logo.gif) no-repeat left center;
float: left;
height: 166px;
width: 308px;
border:none;
}
#main-intro-image {
float: left;
height: 315px;
width: 1000px;
}
#main-content {
clear: both;
float: left;
height: auto;
width: 1000px;
background-color: #fff;
background-image: url(../images/inner-bg.gif);
background-repeat: no-repeat;
background-position: left top;
padding-top: 8px;
}
#login-button {float:right;margin-top:30px;margin-right:10px;}
h1#heading {
font-size: 24px;
font-weight: normal;
color: #4B4B4B;
letter-spacing: 0px;
margin-left: 0px;
margin-top: 12px;
margin-bottom: 10px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}
.leading-text {
font-size: 13px;
margin-bottom: 18px;
margin-right:20px;
font-weight: normal;
line-height: 1.6em;
color:#4B4B4B;
}
#left-column {
padding: 10px 0px 10px 6px;
float: left;
width: 540px;
}
#right-column {
float: right;
width: 400px;
padding-left:20px;
margin-right:10px;
}
#footer {
background: url(../images/footer-top.gif) no-repeat left top;
float: left;
width: 1000px;
padding-bottom:2em;
}
#copy {
font-size: 11px;
color: #999999;
margin: 28px 0px 0px 8px;
padding: 0px;
float: left;
line-height: 1.2em;
width: 500px;
}
#footer-contacts {
font-size: 11px;
color: #999999;
margin: 4px 0px 0px 8px;
padding: 0px;
float: left;
width: 500px;
}
#credits {
font-size: 11px;
color: #999999;
margin: -10px 8px 0px 0px;
padding: 0px;
float: right;
line-height: 1.2em;
}
h2#newsletter {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
font-size:19px;
color:#383839;
}
#sign-up {
padding: 0;
width: 370px;
margin-left: 18px;
margin-top: 12px;
float:right;
clear:both;
}
#sign-up p {
font-size: 11px;
margin-bottom: 14px;
}
span.label, span.spacer, span.multiple span {
width:120px;
float:left;
font-size: 11px;
color:#333;
}
span.multiple {
float:left;
}
span.button {
padding-left:120px;
}
div.clear {
clear:both;
padding-top:5px;
}
#sign-up div, #form div {
margin-bottom: 6px;
}
#sign-up input, #form input {
border: 1px solid #CCCCCC;
padding-top: 4px;
padding-bottom: 4px;
}

#heading-inner {
font-size: 22px;
font-weight: normal;
color: #333;
letter-spacing: 0px;
margin-left: 0px;
margin-top: 20px;
margin-bottom: 14px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

#right-column-inner {
float: right;
width: 280px;
}
#left-column-inner {
padding: 10px 0px 10px 20px;
float: left;
width:680px;
background-image: url(../images/inner-content.gif);
background-repeat: no-repeat;
}
#news-column {
padding: 10px 0px 10px 20px;
float: left;
width:980px;
}
#left-column-inner p, #news-column p {
margin:10px 40px 10px 1px;
line-height: 1.6em;
}


#right-column-inner h2 {
float:left;
width:260px;
height:42px;
margin:30px 0 10px 0;
padding:0;
text-indent:-9999px;
background-image: url(../images/related-sections.gif);
background-repeat: no-repeat;
}
#left-column-inner h2, #news-column h2 {
font-size: 19px;
font-weight: normal;
color: #333;
letter-spacing:0px;
margin-left: 0px;
margin-right:50px;
margin-top: 30px;
margin-bottom: 20px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
padding-bottom: 2px;
border-bottom: 1px dotted #ccc;
clear: both;
}
#left-column-inner h2 a, #news-column h2 a {border-bottom:none;}
.image-left-icon {
float: left;
margin: 20px 20px 30px 0;
}
a.readmore {
background:transparent url(../images/blue-arrow.gif) no-repeat scroll 100% 50%;
padding-right:6px;
white-space:nowrap;}
.callout-boxes a {border:none;}
.callout-boxes {
float: left;
width: 260px;
margin:0;
border-right: none;
padding-right:20px;
border-bottom: none;
padding-bottom: 20px;
padding-top: 10px;
padding-left: 0px;
}
.callout-boxes p {
color: #3F3F3F;
margin: 0 10px 0 0;
padding: 0;
line-height:1.5em;
width:240px;
}
.endbox {
border-right-style: none;
padding-right: 0px;
margin-right:0px;
}
.nb {
border-bottom-style: none;
}
.endboxbottom {
border-bottom: none;
}
.endboxbottom-end {
border-bottom: none;
border-right: none;
}
#hp-booking {float:right;margin-top:18px;}
#hp-booking a, #login-button a ,#inner-booking a {border:none;}
#inner-booking {margin-top:30px;float:left;}
#left-column-inner ul, #news-column ul {margin: 10px 10px 10px 40px;}
#left-column-inner li, #news-column li {padding:3px;font-size:12px;}
.image-left {margin:4px 40px 40px 40px;float:right;}
.image-left div {font-size:10px;margin:3px 0 10px 0px;}
.image-left img {padding:2px;background-color:#eee;border:1px solid #ccc;}
.LV_valid {
    color:#006600;
}
	
.LV_invalid {
	color:#990000;
}
	
.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}
#sign-up  .LV_validation_message {display:none;}
#sign-up .LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field {
    border: 1px solid #CC0000;
}
#form .LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field {
    border: 1px solid #CC0000;
}

#sign-up .LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active,
.fieldWithErrors input.LV_valid_field,
.fieldWithErrors textarea.LV_valid_field {
    border: 1px solid #006600;
}
#form .LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active,
.fieldWithErrors input.LV_valid_field,
.fieldWithErrors textarea.LV_valid_field {
    border: 1px solid #006600;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field {
    border: 1px solid #CC0000;
}
#maps {float:right;margin:0em 3em 3em 3em;}
h1#heading {
font-size: 19px;
font-weight: normal;
color: #383839;
letter-spacing: 0px;
margin-left: 0px;
margin-top: 10px;
margin-bottom: 14px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}
.bgbutton {background-color:#e8e9ea;}
.image-left-icon {float:right;margin-top:-10px;margin-bottom:130px;margin-right:70px;margin-left:30px;}
#rss-icon {float:right;margin-top:-40px;margin-right:20px;}
#rss-icon a {border:none;}
#clearing {padding-top:20px;}
#innernav ul {
float:left;
margin:0px;
padding: 0px;
width:260px;
}
#right-column-inner li {list-style-type:none;border-bottom:1px solid #e5e5df;background:url(../images/star.gif) no-repeat 0% 51%;padding-left:12px;margin-left:12px;}
#right-column-inner li:hover {list-style-type:none;border-bottom:1px solid #e5e5df;background:url(../images/star-over.gif) no-repeat 0% 51%;padding-left:12px;margin-left:12px;}
#right-column-inner li.active {list-style-type:none;border-bottom:1px solid #e5e5df;background:url(../images/star-over.gif) no-repeat 0% 51%;padding-left:12px;margin-left:12px;}
#right-column-inner li a {padding:10px 4px 10px 12px;border-bottom:none;margin:0px;font-size:11px;font-weight:normal;display:block;color:#333;}
