* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #333;
	text-align: left;
	background-color: #f7f7f7;
	background-image: url(/assets/images/background.gif');
	background-repeat: repeat-x;
}

/* Styles */

a { color: #0088cc; text-decoration: none;}
a:hover { text-decoration: underline;}
a img { border: none;}

p { margin: 0px 0px 20px 0px; line-height: 18px;}

ul { margin: 5px 0px 15px 0px; padding: 0px;}
li { margin-left: 20px;}

#notice {
	clear: both;
	margin: 0 0 15px;
	padding: 0 10px;
	background: #fffbcc;
	border: 1px solid #e6db55;
	line-height: 25px;
	color: #222;
}

#succeed {
	clear: both;
	margin: 0 0 15px;
	padding: 0 10px;
	background: #d1ecb8;
	border: 1px solid #81c445;
	line-height: 25px;
	color: #222;
}

#error {
	clear: both;
	margin: 0 0 15px;
	padding: 0 10px;
	background: #ffebe8;
	border: 1px solid #f0baa2;
	line-height: 25px;
	color: #222;
}

.clear { clear:both;}

/* Header */

#header {
	height: 45px;
	max-width: 1400px;
	min-width: 760px;
	padding: 0;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #4F7386;
}

#header h1 {
	float: left;
	font: normal 20px/21px Helvetica, Arial, sans-serif;
	line-height: 45px;
	color: #FFF;
}

#header h1 a {
	color: #fff;
	text-decoration: none;
}

#header .menu {
	float: right;
	line-height: 45px;
	color: #FFF;
}

#header .menu a {
	color: #fff;
}

/* Wrapper */

#wrapper {
	margin: 0 auto;
	padding: 25px 20px;
	max-width: 1400px;
	min-width: 760px;
}

#wrapper h2 {
	margin: 0 0 10px 1px;
	font: bold 16px/20px Helvetica, Arial, sans-serif;
	color: #333;
	text-transform: uppercase;
}

.box {
	margin: 0 0 20px;
	padding: 15px 15px 0 15px;
	border: 1px solid #e8e8e8;
	background: #fff;
	position: relative;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 200px;
	position: relative;
}

/* Navigation */

.navigation {
	margin: 0 0 20px;
	background: #fff;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	margin: 0;
	padding: 0 15px;
	border-top: 1px solid #e8e8e8;
	background: url('assets/images/navigation-off.gif') repeat-x;
	line-height: 24px;
	height: 100%;
	display: block;
	font-size: 12px;
}

.nav-off {
	margin: 0;
	padding: 0 15px;
	border-top: 1px solid #e8e8e8;
	background-image: url('assets/images/navigation-off.gif');
	line-height: 24px;
	height: 100%;
	display: block;
	font-size: 12px;
}

.navigation ul li a {
	color: #333;
	height: 100%;
	width: 100%;
	display: block;
}

.navigation ul li.active {
	background: url('assets/images/navigation-on.gif') repeat-x;
}

.navigation ul li.active a {
	color: #fff;
}

.navigation ul li ul {
	margin: 5px 0;
}

.navigation ul li ul li {
	margin: 0;
	padding: 0;
	font-size: 11px;
	border: none;
	background: none;
}

.navigation ul li ul li a {
	color: #0088cc;
}

/* Search */

#search-form {
	height: 33px;
}

.search-input {
	border: 1px solid #d2d2d2;
	width: 133px;
	height: 12px;
	padding: 3px 5px;
	position: absolute;
	font-size: 11px;
}

.search-submit {
	left: 160px;
	position: absolute;
}

/* Content */

#content {
	padding-left: 210px;
}

#content h3 {
	margin: 0 0 15px;
	padding: 0 0 10px;
	color: #3A5462;
	font-size: 16px;
	border-bottom: 1px dotted #d2d2d2;
	font-weight: normal;
}

#content h4 {
	margin: 0 0 15px;
	color: #222;
	font-size: 14px;
}

/* Pagination */

.pagination {
	text-align: right;
	display: block;
	margin: 0 0 15px;
	font-weight: bold;
	position: relative;
}

.pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination ul li {
	display: inline;
	margin: 0 5px 0 0;
	padding: 0;
	color: #222;
}

.pagination ul li a {
}

/* Footer */

#footer {
	background: #fff;
	border: 1px solid #e8e8e8;
	padding: 15px;
	height: 12px;
	clear: both;
}

#footer .left { float: left;}
#footer .right { float: right;}
