/* Table Style */

table {
	width: 99%;
	height: 100%;
	margin: 0 0 15px;
	text-align: left;
	border-collapse: collapse;
	font-size: 11px;
}
caption {
	font-size: 12px;
	color: #333;
	background: #eee;
	padding: 6px 6px 6px 4px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

table thead,
table tfoot {
	background: #f7f7f7 url(../images/background-table.gif) repeat-x;
}

table th {
	font-weight: bold;
	color: #444;
	height: 2em;
	text-indent: 4px;
	background-color: #EAEAEA;
}

table td {
	padding: 4px;
	color: #444;
	border: 0px;
}

table td1 {
	padding: 4px;
	color: #444;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
}

table td.nowrap {
	white-space: nowrap; 
}

table td.padded {
    padding-left: 5px; 
    padding-right: 5px;
}

table td.noborder {
	border: 0px;
}

table td.border-b {
    border-bottom: 1px solid #d2d2d2;
}

table td.border-t {
    border-top: 1px solid #d2d2d2;
}

table td.border-tb {
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
}

table td.border-l {
    border-left: 1px solid #d2d2d2;
}

table td.border-r {
    border-right: 1px solid #d2d2d2;
}

table td.border-a {
    border: 1px solid #d2d2d2;
}

table td.space {
    height: 2px;
    padding: 0px;
}

table td.space-border-top {
    height: 2px;
    padding: 0px;
    border-top: 1px solid #d2d2d2;
}
table td.space-border-bottom {
    height: 2px;
    padding: 0px;
    border-bottom: 1px solid #d2d2d2;
}

table td.pointer {
    cursor: pointer;
}

table td.money {         
    text-align: right;
}

table td span.active { color: #55a34a;}
table td span.pending { color: #c5a059;}
table td span.closed { color: #a02b2b;}

table .odd {
	background: #f6f6f6; 
}
table .odd-caption {
	color: #FFF;
	background-color: #4F7386;
}
table .odd-cap 
{
	font-size: 12px;
	color: #333;
	padding: 6px 6px 6px 4px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #ccc;    
	color: #FFF;
	background-color: #4F7386;
}

table .tlabel 
{
   	font-weight: bold;
	color: #444;
	height: 2em;
	text-indent: 4px;
}

table .tlabelr 
{
   	font-weight: bold;
	color: #444;
	height: 2em;
	text-indent: 4px;
	text-align:right;
}

table .tlabel-dark {
   	font-weight: bold;
	color: #444;
	height: 2em;
	text-indent: 4px;
	background-color: #EAEAEA;
}

/* Bar Charts */
#barchart td.value {
	background-image: url(assets/images/gridline58.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding:0;
	border-bottom: none;
	background-color:transparent;
}
#barchart td {
	padding: 4px 6px;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	background-color:#fff;
}

#barchart td.value img {
	vertical-align: middle;
	margin: 5px 5px 5px 0;
}
#barchart th {
	text-align: left;
	vertical-align:top;
}
#barchart td.last {
	border-bottom:1px solid #e5e5e5;
}
#barchart td.first {
	border-top:1px solid #e5e5e5;
}
#barchart .auraltext
{
   position: absolute;
   font-size: 0;
   left: -1000px;
}
#barchart table {
	background-image:url(../images/bg_fade.png);
	background-repeat:repeat-x;
	background-position:left top;
	width: 33em;
}
#barchart caption {
	font-style:italic;
	padding:10px 0 10px 10px;
}